@font-face {
  font-family: digital-7;
  src: url("./digital-7/digital-7.ttf");
}
@font-face {
  font-family: digital-7;
  font-weight: bold;
  src: url("./digital-7/digital-7.ttf");
}

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: linear-gradient(#000428, #004e92);
}
.date {
  position: absolute;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #17d4fe;
  font-size: 4rem;
  letter-spacing: 7px;
  font-family: digital-7, sans-serif;
  text-align: center;
}
.date p {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}
p span {
  color: yellow;
  margin-left: 2rem;
}
.holder {
  width: 90%;
  background-color: #222d33;
  padding: 30px 50px;
  border-radius: 15px;
  border: 3px solid #037ec5;
  position: relative;
}

@media (max-width: 800px) {
  .date {
    font-size: 2rem;
  }
}
